.App {
  display: flex;
  justify-content: center;
} 

#content{
  height: 600px;
  width: 1100px;
}

h1{
  color: black;
  text-shadow: 3px 3px #acacac;
}

.page {
  max-width: max-content;
  text-align: center;
}


#cardArea{
  margin-top: 100px;
  display: flex;
  justify-content:center ;
}

.card {
  display: flex;
  justify-content: center;
  margin: 6px;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  /* border-radius: 25%; */
  width: 130px;
  font-size: small;
  background-color: white
}

ul{
  display: flex;
  
}

li{
  list-style: none;
}

#0{
  border-color: white;
  background-color:  rgba(0, 0, 0, 0.4);
}

p{
  margin: 1px;
}

img{
  height: 90px;
  width: 90px;
}


.izmir{
  background-image: url("https://images.pexels.com/photos/2656502/pexels-photo-2656502.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
}

.eskişehir{
  background-image: url("https://images.pexels.com/photos/13131572/pexels-photo-13131572.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kastamonu{
  background-image: url("https://images.pexels.com/photos/14066480/pexels-photo-14066480.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
}

.opacity {
  background-color: rgba(0,0,0,0.4);
  color: white;
}